<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
  </head>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <body>